.nav_container {
  z-index: 3;
  height: 10rem;
  position: fixed;
  background-color: none;
  width: 100%;
  .default_nav_wrapper {
    display: flex;
    // width: 100%;
    padding: 1rem 4rem;
    justify-content: space-between;
    svg {
      color: whitesmoke;
      width: 2rem;
      height: 2rem;
      cursor: pointer;
      margin-top: 2rem;
    }
    img {
      width: 10rem;
      height: 10rem;
    }
    .dev_link_icon {
      width: 10rem;
      svg {
        margin-right: 1rem;
      }
    }
    .menu_icon {
      width: 13rem;
    }
  }
}
