@mixin fade_in {
  animation: fade_in 3s;
  @keyframes fade_in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}

@mixin fade_out {
  animation: fade_out 1s;
  @keyframes fade_out {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
}

@mixin slow_fade_in {
  animation: slow_fade_in 6s;
  @keyframes slow_fade_in {
    0% {
      color: rgb(0, 0, 0, 0);
    }
    50% {
      color: rgb(0, 0, 0, 0);
    }
    100% {
      color: white;
    }
  }
}

@mixin sliding_left_slow {
  position: absolute;
  animation: left_slide 5s;
  @keyframes left_slide {
    from {
      left: -50rem;
    }
    to {
      left: 0rem;
    }
  }
}

@mixin sliding_left {
  position: absolute;
  animation: left_slide 4s;
  @keyframes left_slide {
    from {
      left: -50rem;
    }
    to {
      left: 0rem;
    }
  }
}

@mixin sliding_left_fast {
  position: absolute;
  animation: left_slide 2s;
  @keyframes left_slide {
    from {
      left: -30rem;
    }
    to {
      left: 0rem;
    }
  }
}

@mixin sliding_right {
  position: absolute;
  animation: right_slide 2s;
  @keyframes right_slide {
    from {
      left: 40rem;
    }
    to {
      left: 3rem;
    }
  }
}

@mixin sliding_top {
  position: absolute;
  animation: top_slide 5s;
  @keyframes top_slide {
    from {
      top: 50rem;
    }
    to {
      bottom: 0rem;
    }
  }
}
