@mixin fade_in {
  animation: fade_in 5s;
  @keyframes fade_in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}

@mixin fade_out {
  animation: fade_out 5s;
  @keyframes fade_out {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
}

@mixin sliding_left {
  animation: left_slide 5s;
  @keyframes left_slide {
    from {
      left: -20rem;
      opacity: 0;
    }
    to {
      left: 0rem;
      opacity: 1;
    }
  }
}

@mixin bg_fade_in {
  animation: bg_fade_in 8s;
  @keyframes bg_fade_in {
    from {
      color: black;
    }
    to {
      color: white;
    }
  }
}
