body {
  background-color: black;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  list-style-type: none;
  scroll-snap-type: y mandatory;
}

div {
  white-space: pre-wrap;
}
