section {
  display: grid;
  place-items: center;
  overflow: hidden;
}

.slider {
  display: grid;
}

.slide_track {
  display: flex;
  align-items: center;
  width: calc(50rem * 12);
  animation: scroll 20s linear infinite;
}

.slide_track:hover {
  animation-play-state: paused;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(calc(-50 * 6rem));
  }
}

.slide {
  position: relative;
  width: 50rem;
  display: flex;
  align-items: center;
  padding: 0rem 1rem;
}

img {
  max-width: 100%;
  max-height: 100%;
  opacity: 0.9;
}

img:hover {
  opacity: 0.5;
}

.slide_img_detail {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  background: none;
  opacity: inherit;
  color: whitesmoke;
  visibility: hidden;
  font-size: 2rem;
  opacity: 0;
}
.slie_img_wrapper:hover .slide_img_detail {
  cursor: pointer;
  visibility: visible;
  opacity: 1;
}
