section {
  display: grid;
  place-items: center;
}

.slider {
  height: 40rem;
  margin: auto;
  position: relative;
  width: 70%;
  display: grid;
  place-items: center;
  overflow: hidden;
}

.slide_track {
  display: flex;
  width: calc(70rem * 6);
  animation: scroll 15s linear infinite;
}

.slide_track:hover {
  animation-play-state: paused;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(calc(-70rem * 3));
  }
}

.slide {
  width: 70rem;
  display: flex;
  align-items: center;
  padding: 1rem;
  perspective: 15rem;
}

img {
  width: 100%;
  object-fit: cover;
}

img:hover {
  transform: translateZ(20px);
}

// .slide::before,
// .slide::after {
//   background: linear-gradient(
//     to right,
//     rgba(255, 255, 255, 1) 0%,
//     rgba(255, 255, 255, 0) 100%
//   );
//   content: '';
//   height: 100%;
//   position: absolute;
//   width: 15%;
//   z-index: 2;
// }

// .slide::before {
//   left: 0;
//   top: 0;
// }
