.im_change_comp_container {
  display: flex;
  align-items: flex-start;
  opacity: 0.9;
  width: 100%;
  background-image: url('../../assets/images/my_img.jpg');
  background-size: cover;
}
.img_wrapper {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  .img_block {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    height: 60%;
    background-color: white;
    img {
      height: 100%;
      width: 100%;
    }
  }
}
.contents_wrapper {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  font-size: 2.5rem;
  line-height: 1.3;
  margin-left: 5%;
  h1 {
    font-weight: 800;
    font-size: 3rem;
  }
  .changing_text_block {
    display: flex;
    align-items: baseline;
    margin: 1rem 0;
    h1 {
      min-width: 6rem;
      background-color: white;
      color: black;
      padding: 0.5rem;
      font-weight: 800;
      text-decoration: underline;
      text-underline-offset: 0.5rem;
      line-height: 1.2;
    }
    h1:hover {
      color: white;
      background-color: black;
      cursor: pointer;
    }
  }
  .hash_tag_block {
    display: flex;
    font-size: 1.2rem;
    font-style: italic;
    a {
      margin-right: 0.5rem;
      cursor: pointer;
    }
    a:hover {
      color: black;
      opacity: 0.5;
      text-decoration: underline;
    }
  }

  .introduce_text {
    margin: 1rem 0;
    font-size: 1.5rem;
  }
}
