@import '../../styles/animation.scss';

.main_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  color: white;
  position: relative;
  .caption_wrapper {
    z-index: 1;
    h2 {
      font-size: 3rem;
      font-weight: 600;
      line-height: 1.5;
      margin: 1rem;
    }
    p {
      font-size: 2rem;
      line-height: 1.3;
    }
    .combined_text {
      margin: 2rem 0;
    }
    .bolder_text {
      width: 60%;
      font-weight: 800;
      font-size: 3.5rem;
      text-decoration: underline;
      text-underline-offset: 0.5rem;
      line-height: 1.3;
    }
    .spoiler {
      padding: 0.5rem;
      text-align: center;
      background-color: black;
      border: 2px solid gray;
      display: inline;
      @include fade_in;
    }
  }
}
video {
  object-fit: cover;
  z-index: -3;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  opacity: 0.2;
}

@media screen and (max-width: 500px) {
  .main_container {
    padding: 1.2rem;
    .caption_wrapper {
      z-index: 1;
      h2 {
        font-size: 1.5rem;
        margin: 1rem 0;
      }
      p {
        width: 90%;
        font-size: 1.1rem;
        line-height: 1.1;
      }
      .combined_text {
        margin: 1.5rem 0;
      }
      .bolder_text {
        width: 60%;
        font-size: 2rem;
      }
      .spoiler {
        padding: 0.5rem;
      }
    }
  }
}
