.idream_container {
  background-image: url('../../assets/images/hiking3.png');
  background-size: contain;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  .counter_block {
    display: flex;
    align-items: center;
    font-size: 1.7rem;
  }
  p {
    margin-top: 1rem;
    font-size: 1.3rem;
    padding: 0 1rem;
    width: 93%;
    text-align: center;
  }
}
