.idream_container {
  background-image: url('../../assets/images/hiking3.png');
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  .counter_block {
    display: flex;
    align-items: center;
    font-size: 2rem;
  }
  p {
    margin-top: 1rem;
    font-size: 1.3rem;
  }
  font-size: 1.2rem;
}
