.nav_container {
  z-index: 3;
  height: 10rem;
  position: fixed;
  background-color: none;
  width: 100%;
  .default_nav_wrapper {
    display: flex;
    // width: 100%;
    padding: 1rem 3.5rem;
    justify-content: space-between;
    svg {
      color: whitesmoke;
      width: 2.5rem;
      height: 2.5rem;
      cursor: pointer;
      padding-top: 1.5rem;
    }
    img {
      width: 10rem;
      height: 10rem;
    }
    .dev_link :first-child {
      margin-right: 0.5rem;
    }
  }
}
