
.carousel_container {
  overflow: hidden;
  display: flex;
  margin-bottom: 1rem;
}

.slide_track {
  display: flex;
  width: 500rem; 
  animation: scroll 10s linear infinite;

  &:hover {
    animation-play-state: paused;
  }
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-250rem);
  }
}

.slide {
  width: 50rem;
  display: flex;
  align-items: center;
  padding: 1rem;
  box-sizing: border-box;

}

.slide_img_wrapper {
  position: relative;
  /* 호버 시 효과 */
  &:hover {
    .slide_img_text {
      visibility: visible;
      
      span {
        text-decoration: underline;
        text-underline-offset: 0.5rem;
        color: grey;
        font-size: 2rem;
        font-weight: 700;
      }
    }

    .slide_img {
      transform: perspective(500px) translateZ(2rem);
    }
  }
}

.slide_img {
  max-width: 100%;
  transition: transform 0.3s ease;
}

.slide_img_text {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  visibility: hidden;
  cursor: default;
  transform: translateY(-50%);
}
