.conter {
  .counter_elem {
    display: inline-block;
    width: 2rem;
    text-align: center;
    background-color: white;
    color: black;
    margin: 0rem 0.1rem;
    position: relative;
    border-radius: 0.2rem;
    font-size: 3rem;
  }
  .counter_elem::after {
    border-bottom: 0.2rem solid rgb(0, 0, 0, 0.1);
    content: '';
    left: 0;
    position: absolute;
    right: 0;
    top: 50%;
  }
}
